---
---
<section id="home" class="intro">
  <h1> INTRO </h1>
</section>
<style lang="scss">
  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: gray;
  }
  h1 {
    text-align: center;
  }
</style>