---
---
<section id="portfolio" class="intro">
  <h1> PORTFOLIO </h1>
</section>
<style lang="scss">
  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(77, 56, 200);
  }
  h1 {
    text-align: center;
  }
</style>